<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>banner详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/yanchuInfo.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bannerInfo.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav banner-tit">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<!--<h1 class="mui-title">2018大型公演</h1>-->
			<a onclick="shareWithSDK();" class="shares" style="top: 0.7rem;"><img src="../../img/shares.png" alt="" /></a>
		</header>
		<div class="banner clearfix banner-img" style="margin-top:2.7rem;">
			<!--<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return banner-back" href="javascript:history.back(-1)"></a>-->
			<!--<img src="../../img/banner1.png" alt="" class="banner-img"/>-->
			
		</div>
		<ul class="items bc-center banner-con">
			<!--<li>
				<img src="../../img/shu.png" alt="" />
				<span>
					2018上半年大型公演圆满结束
				</span>
				<p>
					2018上半年大型公演圆满结束2018上半年大型公演圆满结束2018上半年大型公演圆满结束
				</p>
			</li>-->
		</ul>
		
		<div class="share-tip">
			<div class="share-t">
				<dl>
					<dt>
						<a href="#"><img src="../../images/weixin.png" alt="" /></a>
					</dt>
					<dd>微信好友</dd>
				</dl>
				<dl>
					<dt>
						<a href="#"><img src="../../img/pengyquan.png" alt="" /></a>
					</dt>
					<dd>朋友圈</dd>
				</dl>
				<dl>
					<dt>
						<a href="#"><img src="../../img/qq.png" alt="" /></a>
					</dt>
					<dd>QQ好友</dd>
				</dl>
				<dl>
					<dt>
						<a href="#"><img src="../../img/weobo.png" alt="" /></a>
					</dt>
					<dd>微博</dd>
				</dl>
			</div>
			<a href="#" class="share-b">取消</a>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/bannerInfo.js"></script>
		<script type="text/javascript">
			mui.init()

			$('.shares').click(function(){
				$('.share-tip').show()
			})
			$('.share-b').click(function(){
				$('.share-tip').hide()
			})




<!-- 从一级页面跳转进来 点击当前页面的头部按钮，返回上一个activity-->
			function onBack(){
				window.android.closeAndroidFirstPage(0);
			}

			<!--点击分享-->
			function shareWithSDK(){
				window.android.shareWithSDK();
			}
		</script>
	</body>

</html>