<!doctype html>
<html >

	<head>
		<meta charset="UTF-8">
		<title>试听教育课</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/classInfo.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/voideInfo.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title kc-title"></h1>
		</header>
		<div class="bc-center kc-info">
			<!--<div class="kc-img"><img src="../../img/yanchu2.png" alt="" /></div>
			<p>
				课程运用咘噜原创ip为主线，致力打造中国原创戏剧教育体系。以体验戏剧元素，戏剧游戏为基础，结合中国传统程式之美，秉承着以戏剧为入口，教育为出口的优质理念课程运用咘噜原创ip为主线，致力打造中国原创戏剧教育体系。以体验戏剧元素，戏剧游戏为基础，结合中国传统程式之美，秉承着以戏剧为入口，教育为出口的优质理念，来培育孩子的认知、审美、价值观等.
			</p>-->

		</div>
		<div class="lines"></div>

		<div class="bc-center b-xgkc jc-videos jc-class-info">
			<!--<p class="xgkc">
				<img src="../../img/shu.png" alt="" class="xgkc-img" /> 相关试听课程
			</p>
			<p>课程：<span class="stk">戏剧试听课</span></p>
			<p>教师：<span class="teachers">王老师</span></p>
			<p>地址：<span class="address">北京市海淀区xx大厦xx号302室</span></p>
			<p>
				<span class="datas">2018-7-25</span>
				<span class="times"><img src="../../img/aixin.png" alt="" />8:00-10:00</span>
			</p>
			<a href="#" class="appointment book-class"><img src="../../img/yuyue.png" alt="" /></a>-->
		</div>

		<div class="lines"></div>
		<div class="bc-center" style='margin-bottom:0.8rem;'>
			<p class="xgkc">
				<i><img src="../../img/shu.png" alt="" class="xgkc-img" /></i> 
				<span>相关上课实景</span>
			</p>

			<div class="videos jcsp" style="margin-top: 0.3rem;">
					<div id="isPlay" class="stop"><img src="../../img/play.png" alt=""  class="isplays"/></div>
					<video class="video_show" id="video_show" controls  poster="../../img/shijin.jpg">
						<source src="http://fairee.vicp.net:83/2016rm/0116/baishi160116.mp4"  type="video/mp4" />
					</video>
					<!--<img src="../../img/shijin.jpg" alt="" />-->
				</div>
		</div>

		<!--信息填写弹框-->
		<div class="masks massage">
			<div class="mask"></div>
			<div class="white">
				<p>信息填写</p>
				<p class="input-mass">
					<span>姓名:</span><input type="text" />
				</p>
				<p class="input-mass" >
					<span>电话:</span><input type="text"/>
				</p>
				
				<div class="cencle-box">
					<a href="#">取消</a>
					<a href="#">确认</a>
				</div>
			</div>
		</div>
		
		<!--提示弹框-->
		<div class="masks tips">
			<div class="mask"></div>
			<dis class="white white-tips">
				<p>提示</p>
				<p>提交成功,我们会有课程顾问与您联系	<br />请耐心等待！</p>
				<div class="cencle-box">
					<a href="#" style="text-align: center; width: 100%;"class="iknow">我知道了</a>
				</div>
			</dis>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/video.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../rootUrl.js"></script>
		<script>
			var classInfoId = getValue()['id'] || '';

			<!-- 课程 返回 -->
			function onBack(){
				window.android.closeAndroidFirstPage(0);
			}
		</script>
	</body>

</html>