<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新闻详情页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/greatvideo.css" />
		<link rel="stylesheet" href="../../css/voideInfo.css" />
	
	</head>
	<style>
		.news-title{font-size:0.95rem;color: rgb(102,102,102);margin-top: 2rem;}
		.new-data{font-size: 0.9rem;color: rgb(153,153,153);margin-bottom: 0.5rem;}
		.bc-center img{width: 100%;}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav" style="box-shadow: 0 0 5px #ccc !important;">
			<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">新闻详情页</h1>
		</header>
		<article class="bc-center" id="newsInfoId">
			<!--<p class="news-title">桃桃在海边遇到了咘噜咘噜因为岛屿的剧烈晃桃桃在海边遇到了咘噜咘噜因为岛屿的剧烈晃桃</p>
			<div class="new-data">2018/06/19 15:20</div>
			<img src="../../img/studentsstar.png" alt="" />-->
		</article>
		

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../rootUrl.js"></script>
	<script type="text/javascript">
		<!--新闻详情页 点击返回按钮-->
		function onBack(){
			window.android.closeAndroidSecondPage();
		}
	</script>

	</body>

</html>