<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新闻动态</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/yanchuInfo.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/listenInfo.css"/>
		<link rel="stylesheet" href="../../css/newsInfo.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">新闻动态</h1>
		</header>
		<div class="lines" style="margin-top:2.9rem;"></div>
		<div class="bc-center clearfix">
			<!--新闻动态-->
		<div class="great-video">
			<div class="bc-center clearfix">
				<div class="consulta" id="consulta">
					<!--<a href="newCondition.html">
						<div class="consultas clearfix">
							<div class="consulta-l">
								<img src="../../img/zixun1.png" alt="" />
								</div>
								<div class="consulta-r">
									<p>桃桃在海边遇到了咘噜咘噜因为岛屿的剧烈晃...</p>
									<div class="consulta-pic clearfix">
										<p><i><img src="../../img/zixun.png" alt="" /></i> 咘噜教育</p>
										<span>2018-7-24</span>
									</div>
							</div>
						</div>
					</a>-->
					
					
					
				</div>
				
			</div>
		</div>
		
		</div>
	
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../rootUrl.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function(){
				
			})

			<!-- 新闻动态 返回 -->
			function onBack(){
				window.android.closeAndroidFirstPage(0);
			}

		</script>
	</body>

</html>