* {
	margin: 0;
	padding: 0;
}

.main_max {
	width: 100%;
}
.butn{
	width: 4.5rem;
	padding: 0 0;
	text-align: center;
	line-height: 1.5rem;
}
.main_header {
	width: 100%;
	height: 3rem;
	background: white;
	border-bottom: #E6E6E6 solid 2px;
}

.header {
	text-align: center;
	line-height: 3rem;
	height: 3rem;
	font-size: 1rem;
}

.tabs {
	font-size: 1rem;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
}

.tabs li {
	float: left;
	list-style: none;
	width: 50%;
	text-align: center;
}
.main_font {
	width: 100%;
	height: 15rem;
	margin: 0 auto;
	background-image: url(../img/daoke.png);
	background-repeat: no-repeat;
	background-position: right 3rem top 2rem;
	background-color: #E6E6E6;
	background-size: 4rem 4rem;
	text-indent: 1em;
	border-radius: 0.5rem;
}

.main_booking {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.booking {
	width: 90%;
	margin-top: 1rem auto;
	border-top: 1px solid rgb(204,204,204);
	margin: 0 auto;
}
.star img {
	width: 1rem;
	height: 1rem;
}

.btn {
	position: absolute;
	right: -0.5rem;
	bottom: 0.3rem;
	overflow: hidden;
}

.btn button {
	border-radius: 1rem;
}


/*公用样视*/

.lines {
	width: 100%;
	height: 1rem;
	background: rgb(240, 240, 240);
	margin: 1rem 0 0.8rem 0;
}


/*选项卡变换颜色*/

.hide {
	display: none;
}

.show {
	display: block;
}
.lis{
	color: rgb(255, 139, 54);
}
.yellow{
	position: absolute;
	top:10rem;
	right: 18%;
	width: 3rem;
}
.tab-list li.tab-on li{
	position: relative;
}
.tab-list li.tab-on a{
	color: rgb(255,139,54) !important;
}
.tab-list li.tab-on img{
	position: absolute;
	top:10rem;
	left: 18%;
	width: 3rem;
}
