*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body ul li{
	border: #FFFFFF 1px solid !important;
}
.mui-plus.mui-android header.mui-bar {
	display: none;
}
.mui-table-view .booking{
	border: 0 !important;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content {
	padding: 0;
}

.mui-bar-nav~.mui-content {
	padding: 0 !important;
}

.head-photos {
	width: 2rem;
	height: 1.5rem;
	margin: 0 auto 0.3rem;
}

.profile-photo {
	position: absolute;
	right: 3rem;
	top: 2rem;
}

.profile-photo {
	position: absolute;
	right: 2rem;
}

.booking {
	position: relative;
	width: 90% !important;
	margin: 0 auto;
}

.make {
	position: relative;
}


/*遮罩*/

.masks {
	display: NONE;
}

.mask {
	width: 100%;
	height: 100vh;
	background: #d6d4d4;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.3;
}

.mask-a {
	position: absolute;
	bottom: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 3rem;
	background: white;
	z-index: 10100;
}

.mask-a li {
	width: 100% !important;
}

.mask-a li a {
	color: rgb(102, 102, 102)!important;
}

.mask-a li:last-child {
	border-top: 0.3rem solid rgb(240, 240, 240);
}


/*选项卡变换颜色*/

.static-color {
	color: rgb(102, 102, 102);
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #fff;
	border-bottom: 2px solid #007aff;
	background: 0 0;
	background: rgb(255, 139, 54)!important;
}

.her {
	color: rgb(102, 102, 102);
	line-height: 2rem !important;
	font-weight: normal;
}


/*未完成*/
.videos img {
	width: 8rem !important;
	height: 13rem;
}

.vide {
	margin-bottom: 0.5rem !important;
}


/*公用样式*/

.lines {
	width: 100%;
	height: 0.6rem;
	background: rgb(240, 240, 240);
	margin-top: 1rem;
}

.liness {
	width: 100%;
	height: 0.6rem;
	background: rgb(240, 240, 240);
}


/*九宫格*/

.ss li {
	width: 33.3% !important;
}

.mui-plus.mui-android header.mui-bar {
	display: none;
}

.mui-plus.mui-android .mui-bar-nav~.mui-content {
	padding: 0;
}

.mui-bar-nav~.mui-content {
	padding: 0 !important;
}

.mui-content {
	background: white !important;
}
.mui-grid-view.mui-grid-9 {
	background-color: white !important;
	border: none !important;
}

.mui-content>.mui-table-view:first-child {
	margin: 0 !important;
}

.mui-table-view-cell {
	padding: 0.5rem 0.2rem !important;
}


/*点评text*/

.publish {
	width: 90%;
	margin: 0.5rem auto;
}

.form {
	border: 0;
}


/*点评定位*/

.dianping {
	position: relative;
}

.dianpings {
	position: absolute;
	right: 3rem;
	top: 2.5rem;
	width: 3.5rem !important;
}

.scrolls {
	width: 100%;
	margin: 0 auto !important;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-slider-item img {
	height: auto;
}

.jcsps p {
	position: absolute;
	left: 0.5rem;
	bottom: 0.5rem;
	vertical-align: middle;
	width: 100%;
}
/*作业*/
.tabs{
	width: 50%;
	margin: 1rem auto;
	font-size: 1rem;
	line-height: 1.7rem;
	height: 2rem;
}
.tabs li {
	float: left;
	list-style: none;
	width: 50%;
	text-align: center;
}
.hide {
	display: none;
}

.show {
	display: block;
}
.lis{
	color: rgb(255, 139, 54);
}
.tab-list li.tab-on a{
	color: white !important;
}
.tab-list li.tab-on{
	background: rgb(255,139,54) !important;
}
