/*切换账号*/
.qiehuan li{
	width: 90%;
	margin:0 auto;
	height: 3rem;
	border-bottom: 1px solid rgb(240,240,240);
	line-height: 3rem;
	font-size:1rem;
	color:rgb(102,102,102) ;
}
.qh-photo img{
	display: block;
	width: 2rem;
	height: 2rem;
	margin-top:20%;
}
.qh-name{
	margin-left: 0.5rem;
}
.qh-id{
	margin-left: 0.5rem;
}
.add-zh{
	margin:1rem auto;
	width: 75%;
}
.add-zh input{
	display: block;
	margin: 0.5rem auto !important;
}
.adds{
	display: block;
	margin: 0 auto;
}
