
.mui-title{
	font-size: 1rem;
	color: rgb(102,102,102) !important;
	line-height: 44px;
}
/*.mui-bar .mui-icon {
    padding-top: 10px !important; 
    padding-bottom: 0px !important;
}
header{
	padding-top: 0.5rem;
	height:44px;
	line-height: 44px;
}*/
.videos{
	width: 100%;
	/*margin-top: 1rem;*/
	position: relative;
}
.jcsp{
	
}
.videos img{
	width: 100%;
	display: block;
}
.p-description{
	border-bottom:1px solid rgb(240,240,240);
	margin:0.5rem 0 0.5rem 0;
	line-height: 1.6rem;
	padding-bottom: 0.4rem;
}
.userinfo-l{
	float: left;
	
}

.userinfo-name{
	font-size: 1.1rem;
	color: rgb(102,102,102);
	margin-right: 0.4rem;
}
.userinfo-data{
	font-size: 0.9rem;
	color: rgb(153,153,153);
}

.userinfo-r{
	float: right;
	vertical-align: middle;
	width: 34%;
}
.userinfo-r a{
	display:inline-block;
	vertical-align: middle;
	width: 30%;
}
.userinfo-r a span{
	vertical-align: middle;
	display: inline-block;
	color: rgb(102,102,102);
	
}
.userinfo-r a img{
	display: inline-block;
	vertical-align: middle;
	width: 38%;
}
.videos .video_show{
	width: 100%;
}
#isPlay{
	width: 11%;
	/*height: 30px;*/
	position: absolute;
	top: 39%;
	left: 45%;
	z-index: 10;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
video::-webkit-media-controls {
  display:none !important;
}
.videoBox{
	width: 100%;
	padding: 0.3rem;
	background: #000;
	color: #fff;
	position: absolute;
	bottom: 0rem;
	left: 0;
}
.imgBox{
	width:50%;
	margin-top: -0.4rem;
}
.progressBox{
	width:65%;
	height: 0.2rem;
	background: #fff;
	margin-top: 0.5rem;
	margin-left: 1rem;
}
.imgBox img{
	width: 2%;
}
.biggerBtn img{
	width: 5%;
	margin-left: 1rem;
	display: inline-block;
}
.allTime{
	margin-left: 0.2rem;
}
.progressBar{
	background: pink;
}
.lines {
    width: 100%;
    height: 0.8rem;
    background: rgb(240,240,240);
    margin: 0.5rem 0 0.5rem 0 !important;
   
}
/*留言板*/
.comment{
	width: 100%;
	height: 100%;
}
.textareas{
	width: 90%;
	display: none;
	background: #fff;
	margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
=======
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
>>>>>>> 5258c458f70badd50452b86755d7241405469c2f
=======
=======
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
=======
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
>>>>>>> 9431a1c279105c3b6d4479c6025272977e17ab9d
<<<<<<< HEAD
>>>>>>> 060be0182d303342c8797b15e61d4deaf605a929
=======
=======
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
=======
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
>>>>>>> 5258c458f70badd50452b86755d7241405469c2f
>>>>>>> ea6b7b4d45854a079789066b4fa9a07462d841cc
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c

/*留言板*/
.bc-center{
	position: relative;
}
.textareas{
	position: absolute;
	top: 21.3rem;
	width: 100%;
	

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
=======
=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
=======
<<<<<<< HEAD
=======
>>>>>>> 060be0182d303342c8797b15e61d4deaf605a929
=======
>>>>>>> ea6b7b4d45854a079789066b4fa9a07462d841cc
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
=======
>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5258c458f70badd50452b86755d7241405469c2f
=======
=======
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
=======
>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
=======
=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
>>>>>>> 9431a1c279105c3b6d4479c6025272977e17ab9d
<<<<<<< HEAD
>>>>>>> 060be0182d303342c8797b15e61d4deaf605a929
=======
=======
>>>>>>> 5258c458f70badd50452b86755d7241405469c2f
>>>>>>> ea6b7b4d45854a079789066b4fa9a07462d841cc
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
}
.textareas .pl-text{
	padding: 0.5rem;
	min-height: 6rem;
	width: 85%;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c

=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
=======
<<<<<<< HEAD
>>>>>>> 060be0182d303342c8797b15e61d4deaf605a929
=======
=======
>>>>>>> ea6b7b4d45854a079789066b4fa9a07462d841cc
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
=======

>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
=======
=======

>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======

=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
>>>>>>> 9431a1c279105c3b6d4479c6025272977e17ab9d
=======
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
=======

=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
=======
=======

>>>>>>> 00af5e1435b9f9ce3ed1af3bac52fa0f76ad7ba0
>>>>>>> 18eba5a27cbc9328ae2b290c0818ae0090670fd8
>>>>>>> 5258c458f70badd50452b86755d7241405469c2f
<<<<<<< HEAD
=======

=======
>>>>>>> 80bba16d2038c00fb470c2a2aff918433bde1ec9
>>>>>>> 5eff5a28dec9973b8eda773fdc5d921f51d2d371
>>>>>>> 9431a1c279105c3b6d4479c6025272977e17ab9d
>>>>>>> 060be0182d303342c8797b15e61d4deaf605a929
=======
>>>>>>> ea6b7b4d45854a079789066b4fa9a07462d841cc
>>>>>>> 33e570a04492c4126a4100447dc8b0ef9171896c
.textareas .pl-send{
	display: inline-block;
	font-size: 0.9rem;
	color: rgb(102,102,102);
}

.liuyanqu{
	width: 90%;
	margin: 0 auto;
	
}
.prent img{
	width: 1.8rem;
	height: 1.8rem;
	margin-right:0.4rem;
}
.prents {
    width: 100%%;
    margin-left: 2.5rem;
}
.parent{
	margin-top: 0.3rem;
}
