<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>宝宝信息完善</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/login-xiugai.css" />
		<link rel="stylesheet" type="text/css" href=""/>
		<link rel="stylesheet" href="../../css/information.css" />
		
	</head>
	<style>
		
	</style>
	<body id="reg">
		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack()"></a>
			<h1 class="mui-title">宝宝信息完善</h1>
		</header>
		<article class="box-center">
			<div class="sex">
				<span class="sex-xingbie">性别:</span>
				<select name="" id="selected" class="sexs">
					<option value="0">男</option>
					<option value="1">女</option>
				</select>
				<div class="pull-down"><img src="../../img/pull.png"/></div>
			</div>

			<div class="sex">
				<span class="sex-xingbie">生日:</span>
				
				<form name=form1  class="forms">
					<select name=YYYY onchange="YYYYMM(this.value)" class="birthday">
						<option></option>
					</select>
					<select name=MM onchange="MMDD(this.value)" class="birthday1">
						<option>月</option>
					</select>
					<select name=DD class="birthday2">
						<option>日</option>
					</select>
					<div class="pull-down"><img src="../../img/pull.png"/></div>
				</form>
			</div>
		</article>
		<a href="#" class="logins1 finish">完成</a>
		<!--<script src="../../js/zepto.min.js"></script>-->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/data.js"></script>
		<script src="../../js/login.js"></script>
		<script>

		function registerSuccessToHomePage(){
			window.android.registerSuccessToHomePage();
		}
		function onBack(){
			window.android.closeAndroidFirstPage(6);
		};

			//			修改信息 出生日期和性别
	    var id = getValue()['id'] || '';
	          console.log(id)
	$('.finish').click(function() {
//		alert(1)
		var sex = $('#selected').find('option:selected').val()
		console.log(sex)
		var years = $('.birthday').find('option:selected').val()
		var month = $('.birthday1').find('option:selected').val()
		var month = month < 10 ? '0' + month : month;
		var day = $('.birthday2').find('option:selected').val()
//		console.log(day )
		var day = day < 10 ? '0' + day : day;
		var birthDate = (years + '-' + month + '-' + day)
		//				console.log(birthday)
		//				console.log(sex)
		$.ajax({
			type: 'post',
			url: activeUrl +'user/completion',
			//                  http:"//localhost:8080/user/registUser?userName=房金&accountNumber=qwe12ssss3456&passwd=123456&patriarch=景浩&tel=18510003196"
			data: {
				sex: sex,
				birthDate: birthDate,
				id: id
			},
			dataType: 'json',

			success: function(data) {
				console.log(data)
				if(data.code == 10000) {
					<!--window.location.href = "login.html?sex=" + sex + "&birthDate=" + birthDate + '&id=' + id;-->
					registerSuccessToHomePage()
				}

			}

		})
	})
		</script>
	</body>

</html>