<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/login.css" />
		<link rel="stylesheet" href="../../css/login-xiugai.css" />
	</head>
	<style>
		
	</style>
	<body>
		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" href="javascript:history.back(-1)"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<div class="center-box" style="margin-top:5rem;">
			<input type="text" class="tells" placeholder="请输入旧密码" />
			<input type="password" class="tells" value="" placeholder="请输入6-13位的新密码" />
			<input type="text" class="tells" value="" placeholder="请输入6-13位新密码" />
			<a href="login.html" class="logins">确认</a>
		</div>
		
		<!--<div class="tips-wrap">
			<div class="tips-boxs">
				<p>提示</p>
				<p class="tipss">-->
					<!--修改密码已经成功 自动为您跳转登陆页-->
				<!--</p>
				<a href="#" class="isee">我知道了</a>
			</div>
		</div>-->
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/mui.js"></script>
		
		<script>
			$('.logins').click(function(){
				ycTips('密码已经成功修改 自动为您跳转登陆页','我知道了')
			})
		</script>
	</body>

</html>
我觉得项目经验什么的 整体挺完美
工作经验那块不能就写一家吧 
工作经验你可以把实习的算上 最少要写3年  就写到 求职意向下面那块  人事看筛选简历的时候  方便看
那个项目关键技术  css3就是新增了一下标签和属性  就算没用到  我觉得也是写c3合适  其实你不是用了less  sass嘛  那个写上岂不是比css更好点  (css预处理器)