<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>咘噜戏剧教育</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/contact.css"/>
	</head>
	<style>
		.bc-center {
		    padding-bottom: 0.6rem;
		}
		.main_headers img{
			width: 100%;
		}
	</style>
	<body>
		<!--头部-->
		<header class="mui-bar mui-bar-nav headera">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">咘噜戏剧教育</h1>
			<a onclick="shareWithSDK()" class="share"> <img src="../../img/fenx.png" alt="" /></a>
		</header>
		<div class="main_headers">
			<img src="../../img/jiaoshi1.png"/>
		</div>
		<div class="bc-center bc_center">
			<h4 class="hsr">关于我们</h4>
			<p>
				北京梦幻空间咘噜教育科技有限公司，是梦幻空间文化传媒旗下儿童
				戏剧教育品牌。项目针对3—12岁少年儿童，以中国传统文化为根基，
				故事为主线，运用多种表演形式，以游戏体验、元素训练的方式对孩子
				的认知、能力、情感、艺术、戏剧等方面进行全科融合的综合培养课程。
				旨在启发孩子的语言表达、想象创造、自信表现、团队协作定能力，并
				最终实现高情商全人的培养目标。
			</p>
			<p>
				表演是孩子与生俱来的的天赋，课程融入了舞台剧、手偶剧、皮影剧、哑剧、
				荧光剧、配音剧等形式，并延展开发除了英文绘本剧、声乐、舞蹈、语言等课程，
				同时成立了咘噜儿童剧团，为喜爱表演的孩子们提供一个展现自我的舞台。
			</p>
			<p>
				咘噜戏剧教育聚集了国内大批戏剧专业和教育专业师资，依托五百多场原创
				儿童剧演出经验，经过潜心教研与一线教学的融会贯通，最终形成适合亚洲儿童
				学习的戏剧表演课程体系。同时也与韩国、欧洲和美国等地的戏剧教育机构建立联系，
				为儿童戏剧表演提供更多的探索契机，让每一位孩子在戏剧教育的过程快乐成长
			</p>
			<p>
				我司将面向全国寻找招商加盟伙伴，欢迎各位志同道合之人加入咘噜戏剧教育的大家庭。
			</p>
		</div>
		<div class="lines"></div>
		<div class="bc-center bc_footer">
			<h4>联系我们</h4>
			<p>乐成校区10:00-22:00</p>
			<h4>010-87766642</h4>
			<p>蓝港校区10:00-22:00</p>
			<h4>010-59056046</h4>
			<div class="tellphones"><img src="../../img/tells.png"/></div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()

			function onBack(){
				window.android.closeAndroidSecondPage();
			};
			<!--点击分享-->
			function shareWithSDK(){
				window.android.shareWithSDK();
			}
		</script>
	</body>

</html>