<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>反馈与建议</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/feedback.css"/>
	</head>

	<body>
		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">反馈与建议</h1>
		</header>
		<div class="lines" style="margin-top:2.8rem;"></div>
		<div class="bc-center bc_main" id="tjfk">
			<textarea class="textsa" name="textarea" rows="6" id="fankui"></textarea>
			<button class="buttons tijiao">提交</button>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Urlroot.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
			function onBack(){
				window.android.closeAndroidSecondPage();
			};
		</script>
	</body>

</html>