<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>精彩视频</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../css/mui.css" />
	<link rel="stylesheet" href="../../css/base.css" />
	<link rel="stylesheet" href="../../css/greatvideo.css" />

</head>
<style>
	.zan1{
		color: red;
	}
	
</style>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return" href="javascript:history.back(-1)"></a>
		<h1 class="mui-title">精彩视频</h1>
	</header>
	<!--1-->
	<ul class="comment" style="margin-top:2.8rem;" id="comment"> 
		<li class="centerd">
			<div class="bc-center gVideos">

				<!--<div class="videos jcsp">
					<div id="isPlay" class="stop"><img src="../../img/play.png" alt="" class="isplays" /></div>
					<video class="video_show" id="video_show" controls poster="../../img/shijin.jpg">
						<source src="http://fairee.vicp.net:83/2016rm/0116/baishi160116.mp4" type="video/mp4" />
					</video>

				</div>
				<p class="p-description">
					几个月的排练没白费，今天舞台上的效果很不错，谢谢老师的细心教导。
				</p>
				<div class="userinfos clearfix">
					<div class="userinfo-l">
						<span class="userinfo-name">王梓欣</span>
						<span class="userinfo-data">2018-8-24</span>
					</div>

					<div class="userinfo-r">
						<a href="#" class="zan"> <img src="../../img/aixin.png" alt="" class="img" /> <span class="z-num">5</span> </a>
						<a href="#" class="pinglun comments"> <img src="../../img/pingluin.png" alt="" /> <span>3</span> </a>
						<a href="#" class="share"> <img src="../../img/zhuanfa.png" alt="" /> <span>3</span> </a>
					</div>

				</div>-->

			</div>
			<div class="lines"></div>
			<div class="bc-center" id="ping">
				<!-- <div class="videosa">
					<p class="prent" style="font-size: 1rem;">
						<img style="vertical-align: middle !important; margin-right: 0.1rem;width: 1.8rem;
						height: 1.8rem;" src="../../img/e.png" />
						瑞瑞妈妈
					</p>
					<p class="prents" style="width: 90%; margin-left: 2rem;">
						几个月的排练没白费，今天舞台上的效果很不错，谢谢老师的细心教导。
						几个月的排练没白费，今天舞台上的效果很不错，谢谢老师的细心教导。
					</p>
					<p class="prents parent" style="width: 90%; margin-left: 2rem;">14分钟前</p>
				</div> -->

			</div>
			<div class="textareas comments-text-wrap">
				<textarea style="width: 90%;" placeholder="请输入评论内容" autocomplete="off" class="pl-text"></textarea>
				<span class="styles"><a href="#" id="send_link">发送</a></span>
			</div>
		</li><!-- 第一个人结束 -->
	</ul>

	<script src="../../js/mui.min.js"></script>
	<script src="../../js/zepto.min.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/video.js"></script> 
	<script type="text/javascript">
		mui.init()
	</script>
</body>

</html>