<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>试听记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/Listen .css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">试听记录</h1>
		</header>
			<div style="height: 1.8rem;"></div>
		<div class="lines"></div>
		<div class="mui1">
			<div id="slider" style="background-color: #FFFFFF;" class="mui-slider">
				<div class="mui-slider-group">
					<div class="itema" style=" border: none;">
						<div class="scroll1" id="oton">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/listen.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Urlroot.js"></script>
		<script>
			function onBack(){
				window.android.closeAndroidFirstPage(3);
			};
		</script>
	</body>

</html>