<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/my.css" />
	</head>

	<body>
		<article class="bg clearfix">
			<div class="bg-header clearfix">
				<p style="" class="me-header">
					<span class="spanq">我的</span>
					<a onclick="onClickSetting();"><span class="spana"><img src="../../img/shezhi.png" alt="" /> 设置</span></a>
				</p>
			</div>
			<!--卡片-->
			<div class="section mui-content" style="box-shadow: 0 0 5px rgba(153,153,153,0.5)">
				<div class="mui-row" id="hearsa">
					
				</div>
			</div>
		</article>
		<!--图文-->
		<div class="main clearfix" style="height: 10rem;">
			<p style="padding: 4rem 0 0 1.5rem; font-size: 1rem;color: rgb(102,102,102);">学习天地</p>
			<article class="pic-class clearfix my-class">
				<dl>
					<dt>
					<a onclick="onClickMyClass();">
						<img src="../../img/kes1.png" alt="" />
					</a>
				</dt>
					<dd>
						<a  title="我的课时">我的课时</a>
					</dd>
				</dl>
				<dl>
					<dt>
					<a onclick="onClickMyHomework();">
						<img src="../../img/kes2.png" alt="" />
					</a>
				</dt>
					<dd>
						<a  title="我的作业">我的作业</a>
					</dd>
				</dl>
				<dl>
					<dt>
					<a onclick="onClickOfflineData();">
						<img src="../../img/ziliao.png" alt="" />
					</a>
				</dt>
					<dd>
						<a title="离线资料">离线资料</a>
					</dd>
				</dl>
				<dl>
					<dt>
					<a onclick="onClickDemoClass(); ">
						<img src="../../img/sing.png" alt="" />
					</a>
				</dt>
					<dd>
						<a title="试听课">试听课</a>
					</dd>
				</dl>
			</article>
		</div>
		<div class="lines" style="margin-top: 1.3rem;"></div>
		<div class="main" style="height: 7rem;">
			<p style="padding: 0 0 0 1.5rem; font-size: 1rem;color: rgb(102,102,102);">成长足迹</p>
			<article class="pic-class clearfix my-class">
				<dl>
					<dt>
					<a onclick="onClickFootprint();">
						<img src="../../img/zuji.png" alt="" />
					</a>
				</dt>
					<dd>足迹总览</dd>
				</dl>
				<dl>
					<dt>
					<a onclick="onClickMyVideo();" >
						<img src="../../img/video.png" alt="" />
					</a>
				</dt>
					<dd>
						<a onclick="onClickMyVideo();" title="我的视频">我的视频</a>
					</dd>
				</dl>
			</article>
		</div>
		<div class="lines" style="margin-top: 0;"></div>
		<div class="main">
			<p style="padding: 0 0 0 1.5rem; font-size: 1rem;color: rgb(102,102,102);">消息中心
				<span style="float: right; margin-right: 1rem; font-size: 0.9rem;">
        			<a style="color: rgb(153,153,153);" onclick="onClickMessageCenter();" class="chakan">查看更多</a>
        			<img style="accelerator: 0.9rem; height: 0.9rem; vertical-align: middle;" src="../../img/more.png" alt="" />
        		</span>
			</p>
			<article class="pic-class clearfix" id="messages">
				<!--消息列表-->
			</article>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../Urlroot.js"></script>
		<script type="text/javascript">
<!--       一级页面的调用                     -->
<!--点击个人中心的设置按钮-->
		function onClickSetting(){
		    var fileUrl = "file:///android_asset/buluApp/templates/me/config.html";
		    window.android.showAndroidHomeNewPage(fileUrl,3);
		};

<!--点击用户头像-->
		function onClickUserAvatar(){
		    var fileUrl = "file:///android_asset/buluApp/templates/me/mydetails.html";
		     window.android.showAndroidHomeNewPage(fileUrl,3);
		};

<!--我的课时 点击-->
        function onClickMyClass(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/myclass.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        };

<!--我的作业 点击-->
        function onClickMyHomework(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/myjob.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        };


<!--离线资料 点击-->
        function onClickOfflineData(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/unpublished.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        };

<!--试听课 点击-->
        function onClickDemoClass(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/Listen.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        };
<!--足迹总览 点击-->
        function onClickFootprint(){
            <!--var fileUrl = "file:///android_asset/buluApp/templates/me/myjob.html";-->
            <!--window.android.showAndroidHomeNewPage(fileUrl,3);-->
        };

<!--我的视频 点击-->
        function onClickMyVideo(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/myVideo.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        }

<!--消息中心 查看更多-->
        function onClickMessageCenter(){
            var fileUrl = "file:///android_asset/buluApp/templates/me/messageCenter.html";
            window.android.showAndroidHomeNewPage(fileUrl,3);
        }

<!--消息列表 消息详情-->
			function onClickMessageInfo(){
				var fileUrl = "file:///android_asset/buluApp/templates/me/message.html?";
            	window.android.showAndroidHomeNewPage(fileUrl,3);
			}
</script>
	</body>
</html>