<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>消息中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/messageCenter.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav bianjia">
			<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">消息中心</h1>
			<button id="bian">编辑</button>
			<button id="wan" style="display: none;">完成</button>
		</header>
		<div class="lines"></div>
		<div class="main_fonts clearfix" id="messagecenters">
			<!--消息列表-->
		</div>
		<div class="quanxuan">
			<input type="checkbox" id="theadInp" /> 全选
			<div class="rightbox deletexiaoxi">删除</div>
			
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/messageCenter.js"></script>
		<script src="../../Urlroot.js"></script>
		<script >
			function onBack(){
				window.android.closeAndroidFirstPage(3);
			};
		</script>
	</body>

</html>