<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的作业</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/myjob.css" />
	</head>
	<style type="text/css">
		.mui-table-view-cell:after {
			background-color: transparent !important;
			}
	</style>
	<body class="body">
		<header class="mui-bar mui-bar-nav">
			<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">我的作业</h1>
		</header>
		<div style="height: 1.8rem;"></div>
		<div class="lines"></div>

		<div class="mui-content">
			<ul class="tab-list tabs clearfix" id="tab-list">
				<li class="tab-on" style="border-radius: 0.5rem 0 0 0.5rem; border: 1px solid #CCCCCC !important;">
					<a style="color: #000;" href="#" class="lis fafa" datas_type='0'>待完成</a>
				</li>
				<li style="border-radius: 0 0.5rem 0.5rem 0; border: 1px solid #CCCCCC !important;">
					<a style="color: #000;" href="#" class="fafa" datas_type='1'>已完成</a>
				</li>
			</ul>
			<div class="tab-con">
				<ul class="mydai booking show" style="width: 90%; margin: 0 auto;">

				</ul>
				
				<ul class="myyi hide" style="width: 90%; margin: 0 auto;">

				</ul>
			</div>
		</div>
		<div class="masks">
			<div class="mask"></div>
			<ul class="mask-a">
				<li class="photo-btn">
					<a href="#" class="photo-btn">拍照</a>
				</li>
				<li class="album-btn">
					<a href="#" class="album-btn">从相册中选择</a>
				</li>
				<li class="cancel">
					<a href="#" class="cancel">取消</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script src="../../js/ziliao.js"></script>
		<script src="../../Urlroot.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myjob.js"></script>
		<script>
			var tab = {
				$el: $(".body"),
				init: function() {
					var me = this;
					var items = me.$el.find(".tab-list>li");
					var oDiv = me.$el.find(".tab-con>ul");

					$.each(items, function(i) {
						items.eq(i).click(function() {
							$(oDiv).eq(i).show().siblings().hide()
							$(this).addClass('tab-on').siblings().removeClass('tab-on')
						})

					})
				},

			}
			tab.init();

			function onBack(){
				window.android.closeAndroidFirstPage(3);
			};
		</script>
	</body>

</html>