<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的视频</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/myVideo.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home.css" />
	</head>
	<style type="text/css">
		.tab-con li{
			padding: 0;
			margin: 0;
			float: left;
			
		}
		.tab-con li .a {
			display:inline-block;
			padding: 0;
			width: 100%;
			height:7rem;
			margin: 0;
		}
		.tab-con li .a img {
			height: 100%;
			width: 100%;
		}
		.tabs{
			margin-bottom: 0rem;
		}
		.jcsps p {
		    bottom: 0.4rem !important;

		}
		.p span{
			display: inline-block;
		}
		.img{
			display: inline-block;
			vertical-align: middle;
			margin-top: 0.3rem !important;
		}
	</style>
	<body class="body">
		<header class="mui-bar mui-bar-nav bianjia">
			<a class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
			<h1 class="mui-title">我的视频</h1>
			<!--<button id="bian">编辑</button>-->
		</header>
		<div class="lines"></div>
		<div class="mui-content">
			<ul class="tab-list tabs clearfix" id="tab-list">
				<li class="tab-on" style="border: 1px solid #CCCCCC; border-radius: 0.5rem 0 0 0.5rem;">
					<a style="color: #000;" href="#" class="lis hh" data_type='0'>我发布的</a>
				</li>
				<li style="border: 1px solid #CCCCCC; border-radius: 0 0.5rem 0.5rem 0;">
					<a style="color: #000;" href="#" class="hh" data_type='1' >我喜欢的</a>
				</li>
			</ul>
			<div class="tab-con">
				<ul class="myfabu mylike mui-table-view mui-grid-view mui-grid-9  show" style="width: 90%; margin: 0 auto;">
							<!--<li class="mui-table-view-cell mui-media jcsps" style='width:33.3%; height:7rem;'>
								<a href='greatvideo.html?videoId=${data.data[i].id}' class="a">
									<img src="../../img/shijin.png" alt="" /> 
								</a>
								
								<p class="clearfix" class="p"><img src="../../img/love.png" alt=""  class="img"/> <span class="z-num love-num">200</span></p>
							</li>-->
								<!--<a href='greatvideo.html?videoId=${data.data[i].id}' style='display:inline-block;'>
									
								</video></a>
								
							</li><li class="mui-table-view-cell mui-media jcsps" style='width:33.3%; height: 33.3%;'>
								<a href='greatvideo.html?videoId=${data.data[i].id}' style='display:inline-block;'>
									<video class="video_show" width="100%" height="100%" id="video_show"  poster="../../img/shijin.png">
								   <source src="" type="video/mp4"/>
								</video></a>
								
							</li><li class="mui-table-view-cell mui-media jcsps" style='width:33.3%; height: 33.3%;'>
								<a href='greatvideo.html?videoId=${data.data[i].id}' style='display:inline-block;'>
									<video class="video_show" width="100%" height="100%" id="video_show"  poster="../../img/shijin.png">
								   <source src="" type="video/mp4"/>
								</video></a>
								
							</li>-->
							
				</ul>
				<ul class="mylike mui-table-view mui-grid-view mui-grid-9 hide" style="width: 90%; margin: 0 auto;">
					
				</ul>
				
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myvideo.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
			var tab = {
				$el: $(".body"),
				init: function() {
					var me = this;
					var items = me.$el.find(".tab-list>li");
					var oDiv = me.$el.find(".tab-con>ul");

					$.each(items, function(i) {
						items.eq(i).click(function() {
							$(oDiv).eq(i).show().siblings().hide()
							$(this).addClass('tab-on').siblings().removeClass('tab-on')
						})

					})
				},

			}
			tab.init();


			function onBack(){
				window.android.closeAndroidFirstPage(3);
			};
		</script>
	</body>

</html>