<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>图片发表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/unpublished.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headers">
			<a href="myjob.html">取消</a>
			<a href="#">发表</a>
		</header>
		<div style="height: 1.8rem;"></div>
		<div class="lines"></div>
		<div class="publish">
			<textarea id="hcqk" class="form" placeholder="作业描述.."></textarea>
			<div class="boxs">
				<div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <div><img src="../../img/fengmian3.png"/></div>
			    <a href="#" class="head-photos" onclick=""><div class="texts profile-photo"><img src="../../img/jiahao.png"/ class="photos"></div>
			</div>
		</div>
		<div class="masks">
					<div class="mask"></div>
					<ul class="mask-a">
						<a href="#" class="photo-btn"><li>拍照</li></a>
						<a href="#" class="album-btn" ><li>从相册中选择</li></a>
						<a href="#" class="cancel" ><li style="border-top: 0.3rem solid rgb(240,240,240);">取消</li></a>
					</ul>
				</div>
		<div class="lines"></div>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/ziliao.js"></script>
	</body>

</html>