<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>学号绑定</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/login.css" />
		<link rel="stylesheet" href="../../css/login-xiugai.css" />
	</head>
	<style>
		
	</style>
	<body id="reg">
		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" href="javascript:history.back(-1)"></a>
			<h1 class="mui-title">学号绑定</h1>
		</header>
		<div class="center-box" style="margin-top:4rem;">
			<input type="text" class="tells xy-name" placeholder="请输入学员姓名" value=""/>
			<input type="tel" class="tells xh-tell" placeholder="请输入您的手机号" value="" maxlength="11"/>
			<input type="text" class="tells xuehao" placeholder="请输入学号"/>
			<a href="#" class="binding">绑定</a>
		</div>
		
		<!--<div class="tips-wrap">
			<div class="tips-boxs">
				<p>提示</p>
				<p class="tipss">-->
					<!--修改密码已经成功 自动为您跳转登陆页-->
				<!--</p>
				<a href="#" class="isee">我知道了</a>
			</div>
		</div>-->
		
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/login.js"></script>
		<script>
			
		</script>
	</body>

</html>