<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>资料编辑</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/ziliao.css" />
	</head>

	<body>
		<div class="wrap">
			<!--头部-->
			<header class="mui-bar mui-bar-nav">
				<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" href="javascript:history.back(-1)"></a>
				<h1 class="mui-title">资料编辑</h1>
			</header>

			<div class="lines"></div>
			<!--列表-->
			<ul class="ziliao-list clearfix">
				<!--name-->
				<li>
					<p>姓名</p>
					<span class="names">王梓欣</span>
				</li>

				<!--头像-->
				<li class="profile-photo">
					<p>头像</p>
					<a href="#" class="head-photos" onclick=""><img src="../../img/students.png" class="photos" /></a>
					<a href="#" class="head-photo"><img src="../../img/more.png" alt="" /></a>
				</li>

				<!--性别-->
				<li>
					<p>性别</p>
					<span class="sex">女</span>
				</li>

				<!--年龄-->
				<!--<li>
					<p>年龄</p>
					<span class="names">8岁</span>
				</li>-->

				<!--生日-->
				<li id="none">
					<p>生日</p>
					<span class="datas">2010-10-10</span>
				</li>

				<div class="lines" style="margin-top: 0;"></div>

				<!--手机号-->
				<li class="clearfix">
					<p>手机号码</p>
					<a href="replaceTell.html" class="tells"> <span>17600000000 </span><img src="../../img/more.png" alt="" /></a>
				</li>

				<!--家长姓名-->
				<li>
					<p>家长姓名</p>
					<span class="jz-name">王涵</span>
				</li>
				
				<!--我的学号-->
				<li class="clearfix">
					<p>我的学号</p>
					<a href="xuehao.html" class="tells"><span>25788452 </span><img src="../../img/more.png" alt="" /></a>
				</li>

				<!--家长姓名-->
				<li>
					<p>我的ID</p>
					<span class="id">66224587</span>
				</li>

				<!--收货地址-->
				<li>
					<p>收货地址</p>
					<a href="#" class="head-photo"><img src="../../img/more.png" alt="" /></a>
				</li>

				<!--明星学员-->
				<!--<li style="border-bottom:none;">
					<p>明星学员</p>
					<span class="address">是</span>
				</li>-->
				
				<div class="masks">
					<div class="mask"></div>
					<ul class="mask-a">
						<a href="#" class="photo-btn"><li>拍照</li></a>
						<a href="#" class="album-btn"><li>从相册中选择</li></a>
						<a href="#" class="cancel"><li style="border-top: 0.3rem solid rgb(240,240,240);">取消</li></a>
					</ul>
				</div>
				
				<div class="lines" style="margin-top:0;"></div>

			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/ziliao.js"></script>

	</body>

</html>