<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>明星教师</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/teacherInfo.css"/>
	</head>

	<body>
		<div class="banner" id="banner"  >
			<!--<div class="banners"><img src="../../img/teachers.png" alt="" /></div>
			<div class="banner-mask">
				<span class="bulu-name">李薇薇</span>
				<span class="bulu-names">咘噜戏剧讲师/3年</span>
			</div>-->
		</div>
		<div class="bc-center" id="introduce">
			<!--<div class="jieshao">
				<img src="../../img/shu.png" alt="" />
				<span>老师简介</span>
			</div>
			<p class="jieshao-text" >
				英语专业学士,英语专业八级。从事少儿英语教育数年，有丰富的教学经验。性格开朗活泼，语感和表达能力较强。具有亲和力、耐心及责任感，课堂气氛活跃，讲课思路清晰，是一位极富表演力的好老师！"陪孩子们成长，给孩子们欢笑，传递给孩子们轻松高效的英语教育，愿孩子们喜欢我，喜欢英语~~"
			</p>-->
		</div>
		<div class="lines"></div>
		<div class="bc-center" id="lightspot">
			<!--<div class="jieshao">
				<img src="../../img/shu.png" alt="" />
				<span>教学亮点</span>
			</div>
			<p class="jieshao-text">
				英语专业学士,英语专业八级。从事少儿英语教育数年，有丰富的教学经验。性格开朗活泼，语感和表达能力较强。具有亲和力、耐心及责任感，课堂气氛活跃，讲课思路清晰，是一位极富表演力的好老师！"陪孩子们成长，给孩子们欢笑，传递给孩子们轻松高效的英语教育，愿孩子们喜欢我，喜欢英语~~"
			</p>-->
		</div>
		<div class="lines"></div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<!--<script src="../../rootUrl.js"></script>-->
		<script type="text/javascript">


			function getValue(){
				  var str = decodeURIComponent( window.location.search ),
				    obj = {},
				    item = [];
				  if(str && ~str.indexOf('?')){ str = str.slice(1) }
				  if(str !=null && str !=""){
				    if(str.indexOf("&") != -1){
				      item = str.split("&");
				      for(var i=0;i<item.length;i++){
				        var itemValue = item[i].split("=");
				        obj[itemValue[0]]=itemValue[1];
				      }
				    }else{
				      item = str.split("=");
				      obj[item[0]]=item[1];
				    }
				    return obj;
				  }
				};


				//			明星老师详情页
			var  teacherId= getValue()['id'] || '';
			$.ajax({
				type: "post",
				url: "http://192.168.0.132:8080/starTeachers/queryById",
				data: {
					"id": teacherId
				},
				async: false,
				dataType: "json",
				success: function(data) {
						var data=data.data

//						banner详情页
							var teaban='';
							teaban+=`
									<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();" style="color: rgb(102,102,102);"></a>
									<div class="banners"><img src="../../img/teachers.png" alt="" /></div>
									<div class="banner-mask">
										<span class="bulu-name">${data.teachername}</span>
										<span class="bulu-names">${data.label}</span>
									</div>
							`
							$('#banner').append(teaban)

//						老师简介详情页
							var introduce=''
							introduce+=`
									<div class="jieshao">
										<img src="../../img/shu.png" alt="" />
										<span>老师简介</span>
									</div>
									<p class="jieshao-text" >
										${data.introduce}
									</p>

							`
							$('#introduce').append(introduce)

//						教师亮点
							var lightspot=''
							lightspot+=`
									<div class="jieshao">
										<img src="../../img/shu.png" alt="" />
										<span>教学亮点</span>
									</div>
									<p class="jieshao-text">
										${data.lightspot}
									</p>
							`
							$('#lightspot').append(lightspot)


					},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("请求失败！");
				}

			});


			<!--点击返回按钮-->
			function onBack(){
				window.android.closeAndroidFirstPage(2);
			}
		</script>
	</body>

</html>