<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>课时预约</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/bookingclass.css" />
	</head>

	<body>
		<div class="booking_header">
			<header class="mui-bar mui-bar-nav">
				<a  class=" mui-icon mui-icon-left-nav mui-pull-left config-return" onclick="onBack();"></a>
				<h1 class="mui-title">课时预约</h1>
			</header>
			<div style="height: 1.5rem"></div>
			<div id="box">

			</div>
		</div>
		<div class="mui-content">
			<div id="slider" style="background-color: #FFFFFF;" class="mui-slider">
				<div style="width:100%; height: 2rem;background: white;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div style="font-size: 0.8rem;" class="mui-scroll mui_xxk"  id="sliderSegmentedControl">
							<!--课时大纲-->
						</div>
					</div>
				<div class="lines"></div>
				<div id="usera">
							<!--content-->
				</div>
			</div>
		</div>
			<script src="../../js/mui.min.js"></script>
			<script src="../../js/zepto.min.js"></script>
			<script src="../../js/booking.js"></script>
			<script src="../../Urlroot.js"></script>
		<script type="text/javascript">
		<!-- 课时预约 返回 -->
			function onBack(){
				window.android.closeAndroidFirstPage(3);
			};
		</script>
	</body>

</html>