<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>学习天地</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/learning.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
	</head>

	<body>
		<article class="bg clearfix">
			<div class="bg-header clearfix">
				<h1 class="mui-title">我的学习</h1>
			</div>
			<!--卡片-->
			<div id="headers" class="section mui-content" style="box-shadow: 0 0 5px rgba(153,153,153,0.5)">
				<!-- 头部 -->
			</div>
		</article>
		<!--选项卡-->
		<div style="width:100%; height: 5rem;background: white;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="segmented">
			<div style="margin-top: 2.9rem;font-size: 0.9rem;" class="mui-scroll">
				<a class="mui-control-item mui-active muixxk" href="#item1mobile">
					我的课程
				</a>
				<a class="mui-control-item" href="#item2mobile">
					师生互动
				</a>
				<a class="mui-control-item" href="#item3mobile">
					我的作业
				</a>
				<a class="mui-control-item" href="#item4mobile">
					课时资料
				</a>
			</div>
		</div>
		<div class="mui-slider-group">
			<!--标题-->
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<ul id="mains" class="mui-table-view">
					<!--课程名字-->
					<div style="width:100%; height: 2rem;background: white;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div style="font-size: 0.8rem;" class="mui-scroll mui_xxk"  id="xxks">
							
						</div>
					</div>
					<div id="kecheng"></div>
				</ul>
			</div>
			<!--标题-->
			<div id="item2mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						内容2惹急了，吗那边v从vv你爸爸美女
					</li>
				</ul>
			</div>
			<!--标题-->
			<div id="item3mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="scrolls">
							<ul class="mui-table-view booking">
								<li class="mui-table-view-cell" style="line-height: 1.5rem;">
									<div class="main_booking ">
										<h4 class="her">声乐一班   声乐基础教学</h4>
										<p>讲课老师: 李薇薇、李洋</p>
										<p>教室: 教学楼302</p>
										<p>学生: 王梓欣</p>
										<p class="star">课堂表现:
											<img src="../../img/redxing.png" />
											<img src="../../img/redxing.png" />
											<img src="../../img/redxing.png" />
											<img src="../../img/redxing.png" />
											<img src="../../img/heixing.png" />
										</p>
										<p style="color: rgb(153,153,153);">2018-06-18 14:30-16:30</p>
									</div>
								</li>
								<li class="mui-table-view-cell parent_text">
									<p>
										<a class="fontsize" href="#">作业要求:</a> 巩固老师上课讲解的基础知识，练习所有乐器拍成视频上传</p>
									<p>
										<a class="fontsize" href="#">课时总结:</a> 少儿播音主持教学内容安排少儿播音安排少儿播音安排少儿播音安排少儿播音</p>
									<p>
										<a class="fontsize" href="#">教师留言:</a> 巩固老师上课讲解的基础知识，练习所有乐器拍成视频上传</p>
								</li>
							</ul>
							<div class="profile-photo">
								<div class="head-photos"><img src="../../img/camera.png" /></div>
								上传作业
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--标题-->
			<div id="item4mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						内容4
					</li>
				</ul>
			</div>
		</div>
		</div>
		<div class="masks">
			<div class="mask"></div>
			<ul class="mask-a">
				<li class="photo-btn">
					<a href="#" class="photo-btn">拍照</a>
				</li>
				<li class="album-btn">
					<a href="#" class="album-btn">从相册中选择</a>
				</li>
				<li class="cancel">
					<a href="#" class="cancel">取消</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/ziliao.js"></script>
		<script src="../../js/learning.js"></script>
		<script src="../../Urlroot.js"></script>
		<script type="text/javascript" >



		</script>
	</body>

</html>