<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>学习天地</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/learning.css" />
<!--		<link rel="stylesheet" type="text/css" href="../../css/base.css" />-->
	</head>
	<style>
		.learn-star span i{
			display: inline-block;
			width: 1rem;
		}
		.mui-table-view:after {
		    background-color: transparent !important; 
		}
		.mui-table-view-cell:after {
		    background-color: transparent !important;
		}
	</style>
	<body>
		<article class="bg clearfix">
			<div class="bg-header clearfix">
				<h1 class="mui-title">我的学习</h1>
			</div>
			<!--卡片-->
			<div id="headers" class="section mui-content" style="box-shadow: 0 0 5px rgba(153,153,153,0.5)">
				<!-- 头部 -->
			</div>
		</article>
		<!--选项卡-->
		<div style="width:100%; height: 5rem;background: white;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="segmented">
			<div style="margin: 2.9rem auto;font-size: 0.9rem; width: 100%;" class="mui-scroll">
				<a class="mui-control-item muixxk">
					我的课程
				</a>
				<a class="mui-control-item shisheng">
					师生互动
				</a>
				<a class="mui-control-item workss">
					我的作业
				</a>
				<a class="mui-control-item ziliaoa">
					课时资料
				</a>
			</div>
		</div>
		<div class="mui-slider-group">
			<!--标题-->
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<ul id="mains" class="mui-table-view">
					<!--课程名字-->
					<div style="width:100%; height: 2rem;background: white;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll">
							<!--课时大纲-->
							<div class="boxslider">
								<div class="mui_xxk" id="xxks">

								</div>
							</div>
						</div>

					</div>
					<div id="kecheng">

					</div>
				</ul>
			</div>
			<!--标题-->
			<div id="item2mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						暂未开通
					</li>
				</ul>
			</div>
			<!--标题-->
			<div id="item3mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="scrolls" id="work">
							<!--我的作业-->
						</div>
					</li>
				</ul>
			</div>
			<!--标题-->
			<div id="item4mobile" class="mui-slider-item mui-control-content ">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						暂未开通
					</li>
				</ul>
			</div>
		</div>
		</div>
		<div class="masks">
			<div class="mask"></div>
			<ul class="mask-a">
				<li class="photo-btn">
					<a href="#" class="photo-btn">拍照</a>
				</li>
				<li class="album-btn">
					<a href="#" class="album-btn">从相册中选择</a>
				</li>
				<li class="cancel">
					<a href="#" class="cancel">取消</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.min.js"></script>
		<script src="../../js/ziliao.js"></script>
		<script src="../../js/learning.js"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Urlroot.js"></script>
		<script>
			<!--点击头像-->
			function viewProfile(){
				var fileUrl = "file:///android_asset/buluApp/templates/me/ziliao.html";
				window.android.showAndroidHomeNewPage(fileUrl,1);
			}

			<!--课时预约-->
			function classApply(){
				var fileUrl = "file:///android_asset/buluApp/templates/learning/bookingclass.html";
				window.android.showAndroidHomeNewPage(fileUrl,1);
			}

		</script>

	</body>

</html>